[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=vlad
Group=vlad

WorkingDirectory=/home/vlad/bot/
Environment="PYTHONPATH=/home/vlad/bot/"
ExecStart=/home/vladimir/bot/.venv/bin/python /home/vlad/bot/main.py

[Install]
WantedBy=multi-user.target